.clients {
  border-top: 1px solid $dark;
  border-bottom: 1px solid $dark;
  padding-top: 50px;
  padding-bottom: 130px;
  @media (max-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (max-width: 1200px) {
    padding-bottom: 40px;
  }
}

.clients__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1200px) {
    margin-top: 30px;
    grid-template-columns: auto;
  }
}
.clients__item {
  padding: 30px 50px;
  &:nth-child(1),
  &:nth-child(2) {
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    @media (max-width: 1200px) {
      padding: 40px 0;
      border-right: none;
    }
  }
  &:nth-child(4),
  &:nth-child(5) {
    border-right: 1px solid $black;
    @media (max-width: 1200px) {
      padding: 40px 0;
      border-bottom: 1px solid $black;
      border-right: none;
    }
  }
  &:nth-child(3) {
    border-bottom: 1px solid $black;
    @media (max-width: 1200px) {
      padding: 40px 0;
    }
  }
  &:nth-child(1),
  &:nth-child(4) {
    padding-left: 30px;
    @media (max-width: 1200px) {
      padding: 40px 0;
      border-bottom: 1px solid $black;
    }
  }
  &:nth-child(3) {
    padding-right: 30px;
    @media (max-width: 1200px) {
      padding: 40px 0;
      border-bottom: 1px solid $black;
    }
  }

  &:nth-child(6) {
    padding-right: 30px;
    @media (max-width: 1200px) {
      padding: 40px 0;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }
}
.clients__response {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 110%;
  color: $gray;
}
.clients__comment {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $black;
  margin-bottom: 30px;
}
.clients__agent {
  display: flex;
  gap: 20px;
  align-items: center;
}
.clients__agent--name {
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: $black;
}
.clients__agent--avatar {
  border-radius: 100%;
}
.clients__agent--function {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: $black;
}
